*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 350px;
    height: 550px;
    background-color: red;
    display: grid;
    grid-template-rows: 30px 140px repeat(6,1fr);
    grid-template-columns: repeat(4,1fr);
    gap: 0.3rem;


}
main div:nth-child(1){
    background-color: blue;
    grid-column: 1/5;
}
main div:nth-child(2){
    background-color: purple;
    grid-column: 1/5;
}
main .box{
    background-color:pink;
    margin: 0.1rem 0.1rem;
}
